@import '../../styles/spacing';
@import '../../styles/typography';
@import '../../styles/layout';
// src/components/WhatIsCMEHub.module.scss
.whatIsCMEHub {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;

  color: var(--color-dark);
  padding: $spacing-32;
  @media (max-width: $breakpoint-md) {
    padding: 0 $spacing-32;
    flex-wrap: wrap;
    align-items: start;
  }
}

.whatIsCMEHubTitle {
  font-size: $font-size-xxl;
  font-weight: $font-weight-semibold;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 2rem;
  }
}

.whatIsCMEHubDescription {
  width: 800px;
  padding-left: $spacing-80 * 2;
  transform: translateY(-10px);
  @media (max-width: $breakpoint-md) {
    align-items: start;
    padding: $spacing-8;
  }
}
